---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="shuto's portfolio">
	<main class="bg-cream text-gray-600 h-screen px-16 py-10 flex justify-center">
		<div class="w-full">
			<section class="w-full my-5">
				<div class="text-center">
					<h1 class="text-3xl font-bold text-blue-600">About Me</h1>
					<p>私について</p>
				</div>
				<div class="flex w-full h-[300px] my-5 text-lg">
					<div class="w-1/2 flex justify-center items-center">
						<div class="py-5">
							<p class="rounded-full bg-teal-500 w-[200px] h-[200px]"></p>
							<p class="text-center py-2 font-bold">Shuto Nakano</p>
						</div>
					</div>
					<div class="w-1/2 flex flex-col justify-center items-center">
						<div class="w-full flex">
							<p class="w-1/3 font-bold text-center">X</p>
							<p class="w-2/3">@shuto_ice</p>
						</div>
						<div class="w-full flex">
							<p class="w-1/3 font-bold text-center">Github</p>
							<p class="w-2/3">@shuto_ice</p>
						</div>
						<div class="w-full flex">
							<p class="w-1/3 font-bold text-center">Blog</p>
							<p class="w-2/3">@shuto_ice</p>
						</div>
						<div class="w-full flex">
							<p class="w-1/3 font-bold text-center">Mail</p>
							<p class="w-2/3">@shuto_ice</p>
						</div>
					</div>
				</div>
			</section>

			<section class="w-full my-5">
				<div class="text-center">
					<h1 class="text-3xl font-bold text-blue-600">Career</h1>
					<p>経歴</p>
				</div>
			</section>

		</div>
	</main>
</Layout>

