---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="text-blue-500">
			<p>ほげほげ</p>
			<p>ふがふが</p>
		</div>
	</main>
</Layout>

